# Notebook for data insertion into database for advanced databases project

In [1]:
from sqlalchemy import Column, Integer, String, Date, DateTime, Enum
from sqlalchemy import create_engine, Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.schema import MetaData
from sqlalchemy.orm import sessionmaker
import pandas as pd
import os
import sqlalchemy as sa

In [2]:
db_string = "postgres://postgres:postgres@localhost:5432/ADB_project"

Base = declarative_base()

engine = create_engine(db_string)
conn = engine.connect()

In [3]:
DIRECTORY = 'CLEAN_REFIT_081116/'
dirs = os.listdir(DIRECTORY)
dirs[0]

'CLEAN_House1.csv'

In [4]:
class Home(Base):
    __tablename__ = 'homes'
    home_id = Column(Integer, primary_key=True)
    user_id = Column(Integer)
    address_id = Column(Integer)

    def __repr__(self):
        return "<homes(home_id='{0}', user_id={1}, address_id={2})>".format(
            self.home_id, self.user_id, self.address_id)

class Address(Base):
    __tablename__ = 'addresses'
    address_id = Column(Integer, primary_key=True)
    city_id = Column(Integer)
    street = Column(sa.types.VARCHAR)
    house_no = Column(Integer)
    postal_code = Column(Integer)
    phone = Column(String)

    def __repr__(self):
        return "<addresses(address_id='{0}', city_id={1}, street={2}, house_no={3}, postal_code={4}, phone={5})>".format(
            self.address_id, self.city_id, self.street, self.house_no, self.postal_code, self.phone)

class City(Base):
    __tablename__ = 'cities'
    city_id = Column(Integer, primary_key=True)
    country_id = Column(Integer)
    city_name = Column(sa.types.VARCHAR)

    def __repr__(self):
        return "<cities(city_id='{0}', country_id={1}, city_name={2})>".format(
            self.city_id, self.country_id, self.city_name)

class Country(Base):
    __tablename__ = 'countries'
    country_id = Column(Integer, primary_key=True)
    country_name = Column(sa.types.VARCHAR)

    def __repr__(self):
        return "<countries(country_id='{0}', country_name={1})>".format(
            self.country_id, self.country_name)

class User(Base):
    __tablename__ = 'users'
    user_id = Column(Integer, primary_key=True)
    username = Column(sa.types.VARCHAR)
    first_name = Column(sa.types.VARCHAR)
    last_name = Column(sa.types.VARCHAR)
    email = Column(sa.types.VARCHAR)
    password = Column(sa.types.VARCHAR)

    def __repr__(self):
        return "<users(user_id='{0}', username={1}, first_name={2}, last_name={3}, email={4}, password={5})>".format(
            self.user_id, self.username, self.first_name, self.last_name, self.email, self.password)



class DailyData(Base):
    __tablename__ = 'daily_data'
    daily_data_id = Column(Integer, primary_key=True)
    meter_sensor_id = Column(Integer)
    home_id = Column(Integer)
    timestamp = Column(DateTime)
    power_usage = Column(Integer)

    def __repr__(self):
        return "<daily_data(daily_data_id='{0}', meter_sensor_id={1}, home_id={2}, timestamp={3}, power_usage={4})>".format(
            self.daily_data_id, self.meter_sensor_id, self.home_id, self.timestamp, self.power_usage)

class WeeklyData(Base):
    __tablename__ = 'weekly_data'
    weekly_data_id = Column(Integer, primary_key=True)
    meter_sensor_id = Column(Integer)
    home_id = Column(Integer)
    timestamp = Column(DateTime)
    power_usage = Column(Integer)

    def __repr__(self):
        return "<weekly_data(weekly_data_id='{0}', meter_sensor_id={1}, home_id={2}, timestamp={3}, power_usage={4})>".format(
            self.weekly_data_id, self.meter_sensor_id, self.home_id, self.timestamp, self.power_usage)

class MonthlyData(Base):
    __tablename__ = 'monthly_data'
    monthly_data_id = Column(Integer, primary_key=True)
    meter_sensor_id = Column(Integer)
    home_id = Column(Integer)
    timestamp = Column(DateTime)
    power_usage = Column(Integer)

    def __repr__(self):
        return "<monthly_data(monthly_data_id='{0}', meter_sensor_id={1}, home_id={2}, timestamp={3}, power_usage={4})>".format(
            self.monthly_data_id, self.meter_sensor_id, self.home_id, self.timestamp, self.power_usage)


class MeterSensor(Base):
    __tablename__ = 'meter_sensors'
    meter_sensor_id = Column(Integer, primary_key=True)
    device_id = Column(Integer)
    home_id = Column(Integer)
    power_unit = Column(Enum)
    startup_date = Column(DateTime)

    def __repr__(self):
        return "<meter_sensors(meter_sensor_id='{0}', device_id={1}, home_id={2}, power_unit={3}, startup_date={4})>".format(
            self.meter_sensor_id, self.device_id, self.home_id, self.power_unit, self.startup_date)

class Device(Base):
    __tablename__ = 'devices'
    device_id = Column(Integer, primary_key=True)
    model_id = Column(Integer)
    device_category = Column(Enum)

    def __repr__(self):
        return "<devices(device_id='{0}', model_id={1}, device_category={2})>".format(
            self.device_id, self.model_id, self.device_category)

class Model(Base):
    __tablename__ = 'models'
    model_id = Column(Integer, primary_key=True)
    factory_id = Column(Integer)
    model_name = Column(sa.types.VARCHAR)

    def __repr__(self):
        return "<models(model_id='{0}', factory_id={1}, model_name={2})>".format(
            self.model_id, self.factory_id, self.model_name)

class Factory(Base):
    __tablename__ = 'factories'
    factory_id = Column(Integer, primary_key=True)
    factory_name = Column(sa.types.VARCHAR)

    def __repr__(self):
        return "<models(factory_id='{0}', factory_name={1})>".format(
            self.factory_id, self.factory_name)

In [65]:
MetaData_Tables = pd.read_excel('MetaData_Tables.xlsx', index_col=0, sheet_name=None)
MetaData_Tables['Sheet1'].columns = MetaData_Tables['Sheet1'].iloc[0]
MetaData_Tables['Sheet1'].drop(['House'], inplace=True)
MetaData_Tables['Sheet1'].replace({'\t':''}, regex=True, inplace=True)
IndexName = MetaData_Tables['Sheet1'].index.name
MetaData_Tables['Sheet1'].index.name = MetaData_Tables['Sheet1'].columns.name
MetaData_Tables['Sheet1'].columns.name = IndexName
MetaData_Tables['Sheet1'].index = MetaData_Tables['Sheet1'].index.astype(int)
MetaData_Tables['Sheet1']

Household Information,Occupancy,Construction Year,Appliances Owned,Type,Size
House,,,,,
1,2,1975-1980,35,Detached,4 bed
2,4,-,15,Semi-detached,3 bed
3,2,1988,27,Detached,3 bed
4,2,1850-1899,33,Detached,4 bed
5,4,1878,44,Mid-terrace,4 bed
6,2,2005,49,Detached,4 bed
7,4,1965-1974,25,Detached,3 bed
8,2,1966,35,Detached,2 bed
9,2,1919-1944,24,Detached,3 bed
10,4,1919-1944,31,Detached,3 bed
11,1,1945-1964,25,Detached,3 bed
12,3,1991-1995,26,Detached,3 bed
13,4,post 2002,28,Detached,4 bed
15,1,1965-1974,19,Semi-detached,3 bed
16,6,1981-1990,48,Detached,5 bed
17,3,mid 60s,22,Detached,3 bed
18,2,1965-1974,34,Detached,3 bed
19,4,1945-1964,26,Semi-detached,3 bed
20,2,1965-1974,39,Detached,3 bed
21,4,1981-1990,23,Detached,3 bed

In [66]:
MetaData_Tables['House 1']

         Aggregate Unnamed: 2 Unnamed: 3
0
1           Fridge   Hotpoint     RLA50P
2       Freezer(1)       Beko   CF393APW
3       Freezer(2)    Unknown    Unknown
4     Washer Dryer      Creda     T522VW
5  Washing Machine       Beko    WMC6140
6       Dishwasher      Bosch    Unknown
7         Computer     Lenovo      H520s
8  Television Site    Toshiba   32BL502b
9  Electric Heater       GLEN       2172

In [ ]:
# for data in pd.read_csv(DIRECTORY + dirs[0], sep=',', engine='c', nrows=100000, chunksize=10000):
#     data.to_sql('House1', engine, if_exists='append', method='multi')
metadata = MetaData(bind=engine)
metadata.reflect()
# Open the session
Session = sessionmaker(bind=engine)
session = Session()

for file in dirs:
    data = pd.read_csv(DIRECTORY + file, sep=',', engine='c', nrows=1)
    data.to_sql(file.split('_')[-1].split('.')[0], engine, if_exists='replace')

    table = Table(file.split('_')[-1].split('.')[0], metadata, autoload=True)
    try:
        table.drop()
    finally:
        table.create()

    # for data in pd.read_csv(DIRECTORY + file, sep=',', engine='c', nrows=10000, chunksize=1000):
    for data in pd.read_csv(DIRECTORY + file, sep=',', engine='c', chunksize=10000):
        data = data.to_dict(orient='records')
        # Inser the dataframe into the database in one bulk
        conn.execute(table.insert(), data)

        # Commit the changes
        session.commit()

# Close the session
session.close()